<app-search [searchText]="filterText" (searchTextChange)="filterList($event)" class="search"></app-search>

<ng-container *ngIf="products.length > 0; else missingProduct" >
  <mat-list [@filterAnimation]="products.length">
    <mat-list-item *ngFor="let product of products" class="product">
      <button mat-icon-button matBadge="{{product.count}}" matBadgePosition="before" [matBadgeHidden]="product.count === 0" (click)="addProductToBuy(product.name)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="removeProductToBuy(product.name)" [disabled]="product.count === 0">
        <mat-icon>remove</mat-icon>
      </button>
      {{product.name}}
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="list-menu">
        <button mat-menu-item (click)="renameProduct(product.name)">
          <mat-icon>edit</mat-icon>
          <span>Rename</span>
        </button>
        <button mat-menu-item (click)="deleteProduct(product.name)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</ng-container>
<ng-template #missingProduct>
    Adding {{filterText}} ?
    <button mat-button color="primary" (click)="addMissingProduct()">
      Add
    </button>
</ng-template>

<button class="add-button" (click)="openDialog()" mat-mini-fab color="primary">
  <mat-icon>add</mat-icon>
</button>
